<% provide(:title, "For software vendors | Prescience Health") %>
<div class="agilecast">
  <div class="agilecast-top bg-ph-brown">
    <div class="container">
      <div class="row text-center py-6">
        <div class="offset-md-2 col-md-8 col-12">
          <h3 class="page-title font-weight-bold">Agilecast Analytics-as-a-Service</h3>
        </div>
      </div>
      <div class="row text-center pb-6">
        <div class="offset-md-2 col-md-8 col-12">
          <p>Agilecast is an advanced predictive engine designed to forecast patient volume and clinical staff need. We use various mathematical models to analyze hundreds of thousands of data points including historical census data, patient acuity, and diagnoses, to provide accurate staff needed forecasts. Deployed as a microservice, Agilecast serves staffing and scheduling software systems with customized outputs that can be integrated with existing technology stacks and user interfaces.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="agilecast-bottom">
    <div class="container">
      <div class="row text-center py-6">
        <div class="offset-md-2 col-md-8 col-12">
          <h3 class="mb-0">Leverage an off-the-shelf solution</h3>
        </div>
      </div>
      <div class="row pb-6">
        <div class="card-deck">
          <div class="card agilecast-card-1">
            <div class="card-body">
              <p class="font-weight-bold">Integration</p>
              <p>Agilecast is fully integrated into your text stack. Offered as a web service, Agilecast allows you to own your data while offering</p>
            </div>
          </div>
          <div class="card agilecast-card-2">
            <div class="card-body">
              <p class="font-weight-bold">Custom data forecasts</p>
              <p>You choose what to forecast. Using sophisticated statistical models in Agilecast, forecast data including patient volumes, staffing need, acuity, and even non-staffing resources.</p>
            </div>
          </div>
          <div class="card agilecast-card-3">
            <div class="card-body">
              <p class="font-weight-bold">Infrastructure</p>
              <p>Agilecast can be deployed on-premise or remotely using Microsoft Azure.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/data' %>
<%= render 'layouts/action' %>