<% provide(:title, "For software vendors | Prescience Health") %>
<div class="agilecast pb-6">
  <div class="agilecast-top bg-ph-brown">
    <div class="container">
      <div class="row text-center py-6">
        <div class="offset-md-2 col-md-8 col-12">
          <h3 class="page-title font-weight-bold">Agilecast Analytics-as-a-Service</h3>
        </div>
      </div>
      <div class="row text-center pb-6">
        <div class="offset-md-2 col-md-8 col-12">
          <p>Agilecast is an advanced predictive engine designed to forecast patient volume and clinical staff need. We use various mathematical models to analyze hundreds of thousands of data points including historical census data, patient acuity, and diagnoses, to provide accurate staff needed forecasts. Deployed as a microservice, Agilecast serves staffing and scheduling software systems with customized outputs that can be integrated with existing technology stacks and user interfaces.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/data' %>
<%= render 'layouts/action' %>