<% provide(:title, "Schedule a demo | Prescience Health") %>
<div class="demo pb-6">
  <div class="demo-top bg-ph-light-blue">
    <div class="container">
      <div class="row py-6">
        <div class="col-12 col-md-4">
          <h3 class="page-title font-weight-bold pb-4">Schedule a Demo</h3>
          <p class="text-justify">Leverage advanced mathematical models to predict patient volumes in four hour increments by shift, day, week, or month. Overlay staff scheduling data and coverage rules from Cerner, Kronos, API, or ShiftWizard to make accurate real-time decisions.</p>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="firstname">First name</label>
              <input type="text" class="form-control" id="firstname">
            </div>
            <div class="form-group">
              <label for="lastname">Last name</label>
              <input type="text" class="form-control" id="lastname">
            </div>
            <div class="form-group">
              <label for="phone">Phone number</label>
              <input type="text" class="form-control" id="phone">
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title">
            </div>
            <button type="submit" class="btn btn-primary btn-ph-green">Submit</button>
          </form>
        </div>
        <div class="col-12 col-md-8">
          <img class="" src="/assets/video.png" alt="Crisp Regional">
        </div>
      </div>
    </div>
  </div>
  <div class="staffright-bottom pb-y">
    
  </div>
</div>
<%= render 'layouts/action' %>