<% provide(:title, "Software to help you optimize nurse staffing | Prescience Health") %>
<div class="home-banner py-8 text-center">
  <div class="container">
    <div class="row">
      <div class="offset-1 col-10">
        <h1>Reduce <b>overtime costs</b> and optimize staffing</h1>
      </div>
      <div class="offset-3 col-6">
        <h4>Leverage predictive analytics to align clinical staff with forecasted patient volumes.</h3>
        <button class="btn btn-primary btn-lg btn-ph-green">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/data' %>
<div class="home-section-3 py-6">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <div class="card-deck">
          <div class="card shadow">
            <img class="card-img-top" src="/assets/hospital.jpg" alt="Crisp Regional">
            <div class="card-body text-center">
              <h6 class="card-title font-weight-bold">Achieving productivity gains</h6>
              <p class="card-text">Learn about how Crisp Regional Hospital used StaffRight.</p>
              <button class="btn btn-outline-primary btn-outline-ph-green">Learn More</button>
            </div>
          </div>
          <div class="card shadow">
            <img class="card-img-top" src="/assets/hospital.jpg" alt="Crisp Regional">
            <div class="card-body text-center">
              <h6 class="card-title font-weight-bold">Card title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-outline-primary btn-outline-ph-green">Learn More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/action' %>