<% provide(:title, "Software to help you optimize nurse staffing | Prescience Health") %>
<div class="home-banner py-8 text-center">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 col-12">
        <h1>Reduce <b>overtime costs</b> and optimize staffing</h1>
      </div>
      <div class="offset-md-3 col-md-6 col-12">
        <h4>Leverage predictive analytics to align clinical staff with forecasted patient volumes.</h3>
        <a href="/staffright"><button class="btn btn-primary btn-lg btn-ph-green">LEARN MORE</button></a>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/data' %>
<div class="home-section-3 py-6">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 col-12">
        <div class="card-deck">
          <div class="card shadow">
            <%= link_to image_tag("hospital.jpg", alt: "Crisp Regional", class: "card-img-top"),
        '/' %>
            <div class="card-body text-center">
              <h5 class="card-title font-weight-bold">Achieving productivity gains</h5>
              <p class="card-text">Learn about how a regional hospital in Georgia saw a 15% improvement in Average Length of Stay.</p>
              <a href="/blog/case-study-georgia-hospital"><button class="btn btn-outline-primary btn-outline-ph-green">Learn More</button></a>
            </div>
          </div>
          <div class="card shadow">
            <%= link_to image_tag("forecasting.png", alt: "Forecasting accuracy", class: "card-img-top"),
        '/' %>
            <div class="card-body text-center">
              <h5 class="card-title font-weight-bold">Why forecasting accuracy matters</h5>
              <p class="card-text">Your census and staffing need forecasts should be more accurate than your weather forecasts. <br /><br /></p>
              <a href="/blog/achieving-91-forecasting-accuracy"><button class="btn btn-outline-primary btn-outline-ph-green">Learn More</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>