<% provide(:title, "Pricing | Prescience Health") %>
<div class="pricing pb-6">
  <div class="container">
    <div class="row text-center py-6">
      <div class="offset-2 col-8">
        <h3 class="page-title font-weight-bold">Pricing</h3>
      </div>
    </div>
    <div class="row">
      <div class="card-group">
        <div class="card pricing-card card-mobile-hidden">
          <div class="card-body">
          </div>
          <div class="card-divider">
            Forecasting
          </div>
          <div class="card-row">
            Patient volumes
          </div>
          <div class="card-row">
            Staffing volumes
          </div>
          <div class="card-row">
            Acuity
          </div>
          <div class="card-divider">
            Alerts
          </div>
          <div class="card-row">
            Staffing alerts
          </div>
          <div class="card-row">
            High census alerts
          </div>
          <div class="card-divider">
            Reporting
          </div>
          <div class="card-row">
            Standard in-application reports
          </div>
          <div class="card-row">
            Reports sent to inbox
          </div>
          <div class="card-divider">
            Support
          </div>
          <div class="card-row">
            9-5 support
          </div>
          <div class="card-row">
            Prioritized support
          </div>
        </div>
        <div class="card pricing-card mobile-mb"><!-- Free -->
          <div class="card-body text-center">
            <h4 class="font-weight-bold mb-2">Free</h4>
            <p class="card-text">For base forecasting for a single scheduling period</p>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Patient volumes forecasting</span>
          </div>
          <div class="card-row text-center">
            For one scheduling period
          </div>
          <div class="card-divider card-divider-hidden">
            Staffing volumes forecasting
          </div>
          <div class="card-row text-center">
            For one scheduling period 
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- acuity -->
          </div>
          <div class="card-divider card-mobile-hidden">
            <span class="card-divider-hidden">Staffing alerts</span>
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- staffing alerts -->
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- high census alerts -->
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Standard in-application reports</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- reports in inbox -->
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">9 to 5 support</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- Prioritized support -->
          </div>
        </div>
        <div class="card pricing-card mobile-mb"><!-- Basic -->
          <div class="card-body text-center">
            <h4 class="font-weight-bold mb-2">Basic</h4>
            <h4 class="font-weight-bold mb-2">$399</h4>
            <p class="text-muted">Per active department, per month, billed monthly</p>
            <a class="btn btn-primary btn-lg btn-ph-green mb-3" role="button" href="/demo">CONTACT SALES</a>
            <p class="card-text">For nurse managers looking to optimize departments</p>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Patient volumes forecasting</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            Staffing volumes forecasting
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            Acuity forecasting
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Staffing alerts</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            <span class="card-divider-hidden">High census alerts</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Standard in-application reports</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            <span class="card-divider-hidden">Reports sent to inbox</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">9 to 5 support</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-row card-mobile-hidden">
            <!-- Prioritized support -->
          </div>
        </div>
        <div class="card"><!-- Premium -->
          <div class="card-body text-center">
            <h4 class="font-weight-bold mb-2">Premium</h4>
            <h4 class="font-weight-bold mb-2">$499</h4>
            <p class="text-muted">Per active department, per month, billed monthly</p>
            <a class="btn btn-primary btn-lg btn-ph-green mb-3" role="button" href="/demo">CONTACT SALES</a>
            <p class="card-text">For large hospitals looking to optimize overall staffing</p>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Patient volumes forecasting</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            Staffing volumes forecasting
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            Acuity forecasting
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Staffing alerts</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            <span class="card-divider-hidden">High census alerts</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">Standard in-application reports</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider card-divider-hidden">
            <span class="card-divider-hidden">Reports sent to inbox</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
          <div class="card-divider">
            <span class="card-divider-hidden">9 to 5 support</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
           <div class="card-divider card-divider-hidden">
            <span class="card-divider-hidden">Reports sent to inbox</span>
          </div>
          <div class="card-row-icon text-center">
            <i class="material-icons text-ph-green">check</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/action' %>
