<% provide(:title, "For hospitals | Prescience Health") %>
<div class="staffright pb-6">
  <div class="staffright-top bg-ph-light-blue">
    <div class="container">
      <div class="row py-6">
        <div class="col-12 col-md-6">
          <img class="" src="/assets/video.png" alt="Crisp Regional">
        </div>
        <div class="col-12 col-md-6">
          <h3 class="page-title font-weight-bold pt-6 pb-4">Explore Staffright</h3>
          <p class="text-justify">Leverage advanced mathematical models to predict patient volumes in four hour increments by shift, day, week, or month. Overlay staff scheduling data and coverage rules from Cerner, Kronos, API, or ShiftWizard to make accurate real-time decisions.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="staffright-bottom pb-y">
    
  </div>
</div>
<%= render 'layouts/action' %>