<% provide(:title, "Contact Us | Prescience Health") %>
<div class="contact">
  <div class="container">
    <div class="row text-center py-6">
      <div class="offset-2 col-8">
        <h3 class="page-title font-weight-bold">Contact Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6 col-12 text-center">
        <p><i class="fas fa-check-circle contact-icon"></i></p>
        <p>Your message has been sent!</p>
        <p>One of our team members will be in touch with you shortly.</p>
      </div>
    </div>
  </div>
</div>