<div class="customers bg-ph-brown py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-6">
        <%= link_to image_tag("api_logo", alt: "API Healthcare", style: "width: 75%;"),
        '/' %>
      </div>
      <div class="col-md-2 col-6">
        <%= link_to image_tag("crisp_logo", alt: "Crisp Regional", style: "width: 75%;"),
        '/' %>
      </div>
    </div>
  </div>  
</div>