<div class="data-box py-6 bg-ph-brown">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-2">
        <div class="card shadow">
          <div class="card-body text-center">
            <h1 class="text-ph-green mb-0">91%</h1>
            <p class="text-ph-green std-line-height">Accuracy 30 days outs</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
        <button class="btn btn-primary btn-lg btn-ph-green">VIEW REPORT</button>
      </div>
    </div>
  </div>
</div>